* {
  margin: 0;
  padding: 0;
}
body {
  font: 15px/1.3 'Open Sans', sans-serif;
  color: #000;
  text-align: center;
}
section,
footer,
header,
aside,
nav {
  display: block;
}
a,
a:visited {
  outline: none;
  color: #1497ad;
}
a:hover {
  text-decoration: none;
}
.container {
  max-width: 1148px;
  margin: auto;
}
/*-------------------------
    The menu
--------------------------*/
nav {
  display: inline-block;
  margin: 60px auto 45px;
  background-color: #078196;
  box-shadow: 0 1px 1px #d8d5d5;
  border-radius: 2px;
}
nav a {
  display: inline-block;
  padding: 18px 30px;
  color: #fff !important;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none !important;
  line-height: 1;
  text-transform: uppercase;
  background-color: transparent;
  -webkit-transition: background-color 0.25s;
  -moz-transition: background-color 0.25s;
  transition: background-color 0.25s;
}
nav a:first-child {
  border-radius: 2px 0 0 2px;
}
nav a:last-child {
  border-radius: 0 2px 2px 0;
}
nav.painel .painel,
nav.pacientes .pacientes,
nav.medicos .medicos,
nav.convenios .convenios,
nav.consultas .consultas {
  background-color: #084b8d;
}
p {
  font-size: 20px;
  font-weight: bold;
  color: #a09898;
}
p b {
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
  background-color: #d8d5d5;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 15px;
}
section.pg-home {
  margin: auto;
}
section.pg-home div.dados {
  margin: auto;
  max-width: 350px;
}
section.pg-home div.dados ul.list-system {
  text-align: left;
  margin-left: 30px;
  list-style-type: none;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
}
section.pg-home div.dados ul.list-system span.result {
  clear: both;
  float: right;
}
footer {
  margin-bottom: 0;
  height: 100px;
  text-align: center;
}
