html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
a {
  text-decoration: none;
}
font-family 'Lato',
sans-serif,
vendor(prop,
args) {
  -webkit-prop: args;
  -moz-prop: args;
  prop: args;
}
.btn {
  border-radius: 10px;
  padding: 1.5% 3%;
  font-weight: 600;
}
.btn-laranja {
  background-color: #f15a24;
}
.btn-verde {
  background-color: #91c46b;
}
.btn-azul {
  background-color: #4bcaff;
}
.btn-sm {
  width: 45%;
  height: 20px;
  font-size: 0.75em;
}
h2 {
  font-size: 1.4375em;
  font-weight: 700;
  padding: 3%;
}
h3 {
  font-size: 1.125em;
  font-weight: 600;
  padding: 1%;
}
@media only screen and (min-width: 800px) {
  h3 {
    font-size: 1.25em;
  }
}
table {
  border-collapse: collapse;
  width: 95%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
table th,
table td {
  text-align: left;
  padding: 1%;
}
table td {
  border-radius: 5px;
  vertical-align: middle;
  text-transform: uppercase;
}
table td button {
  float: left;
  border-radius: 5px;
}
table tr:nth-child(even) {
  background-color: #818081;
}
@media only screen and (min-width: 600px) {
  form {
    width: 60%;
    margin: auto;
  }
}
label {
  font-size: 1.125em;
  float: left;
  padding: 1.5% 3%;
}
@media only screen and (min-width: 800px) {
  label {
    font-size: 1.25em;
  }
}
button,
input,
select {
  width: 95%;
  margin: 2% 1.5%;
  padding: 1.5% 2%;
  font-size: 0.9375em;
}
@media only screen and (min-width: 800px) {
  button,
  input,
  select {
    font-size: 1.25em;
  }
}
input,
select {
  text-transform: uppercase;
}
@media only screen and (min-width: 600px) {
  button {
    width: 50%;
  }
}
section {
  padding-top: 3%;
  background-color: #f9f9f9;
  margin: auto;
  text-align: center;
}
.cabecalho {
  height: 75px;
  width: 100%;
  padding: 0 15px;
  background-color: #414042;
  position: fixed;
}
.logo {
  margin-top: 12px;
  width: 56px;
  height: 56px;
  float: left;
  background: url("../img/logo-mob.png") center center/56px no-repeat;
  font-size: 0;
}
@media only screen and (min-width: 600px) {
  .logo {
    margin: 10px;
    padding: 0;
    width: 280px;
    background: url("../img/logo.png") center center no-repeat;
  }
}
.btn-menu {
  margin: 10px;
  width: 56px;
  height: 56px;
  float: right;
  text-align: center;
  color: #fff;
  border-radius: 56px;
  background-image: -webkit-linear-gradient(right,#f15a24,#ffb497);
  background-image: -moz-linear-gradient(right,#f15a24,#ffb497);
  background-image: -ms-linear-gradient(right,#f15a24,#ffb497);
  background-image: -o-linear-gradient(right,#f15a24,#ffb497);
  background-image: linear-gradient(to left,#f15a24,#ffb497);
  cursor: pointer;
}
.btn-menu i {
  font-size: 25px;
}
@media only screen and (min-width: 800px) {
  .btn-menu {
    display: none;
  }
}
.menu {
  display: none;
  position: fixed;
  background-color: #f15a24;
  width: 55%;
  height: 100%;
  top: 75px;
  right: 0;
}
.menu ul {
  width: 100%;
  float: left;
  text-align: center;
}
.menu li {
  padding: 10px;
}
.menu li a {
  font-size: 2em;
  color: #fff;
  padding: 2% 3%;
  text-transform: uppercase;
}
.menu li a:hover {
  border: 1px solid #202021;
}
@media only screen and (min-width: 800px) {
  .menu {
    display: block;
    float: right;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    position: absolute;
    height: 100%;
    background-color: transparent;
    top: auto;
  }
  .menu ul,
  .menu li {
    list-style: none;
    margin: 2px;
    padding: 11px 0;
    float: left;
  }
  .menu ul {
    display: block;
    float: right;
  }
  .menu ul a {
    display: inline-block;
    padding: 5px;
    font-size: 1em;
    text-transform: uppercase;
    line-height: 1;
  }
  .menu ul a:hover {
    border: 1px solid #f15a24;
  }
}
main {
  padding-top: 75px;
}
section.pg-home {
  text-align: center;
  margin: auto;
}
@media only screen and (min-width: 600px) {
  section.pg-home {
    width: 70%;
  }
}
section.pg-home div.dados {
  margin: auto;
  width: 95%;
}
section.pg-home div.dados ul.list-system {
  text-align: left;
  margin: 5%;
  list-style-type: none;
  font-size: 1.25em;
  font-weight: bold;
  padding: 3%;
}
section.pg-home div.dados ul.list-system li {
  padding-top: 7%;
}
section.pg-home div.dados ul.list-system span.result {
  clear: both;
  float: right;
}
section.pg-home div.dados {
  overflow-x: auto;
  margin-top: 3%;
  width: 100%;
}
section.paciente table td:nth-of-type(2),
section.paciente table th:nth-of-type(2),
section.paciente table td:nth-of-type(3),
section.paciente table th:nth-of-type(3),
section.paciente table td:nth-of-type(4),
section.paciente table th:nth-of-type(4) {
  display: none;
}
section.dentista table td:nth-of-type(2),
section.dentista table th:nth-of-type(2) {
  display: none;
}
footer {
  width: 100%;
}
.ft {
  width: 100%;
  height: 50px;
  background-color: #414042;
}
.conteudo-ft {
  padding-top: 15px;
  margin: auto;
  font-size: 0.75em;
  color: #818081;
}
.conteudo-ft .ft-left {
  text-align: center;
}
.conteudo-ft .ft-right {
  text-align: center;
}
