body {
	background-color:#EEEEEE;
}
header, section, footer {
	max-width:800px;
	background-color: #FFFFFF;
	margin:auto;
}

header {
	height:100px;
	text-align:center;
}
footer {
	height:100px;
	text-align:center;
}

.aviso {
	padding:10px;
	background-color:#F88C87;
	border:2px solid #FFFFFF;
	margin:10px;
}
.paletaCores{
	background-color: #2e76a4;
	background-color: #6EC0F5;
	background-color: #BCDCAE;
	background-color: #F88C87;
	background-color: #FFFFFF;
}